<html>
    <head>
        <title>
            To-do
        </title>
        <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet"/>
    </head>
    <body>
        <div class="main">
            <h1>My To-do List</h1>
        <form action="/addToDo" method="POST">
            <input type="text" name="newtodo" placeholder="add new item">
            <button type="submit">
                Add To-do
            </button>
            <h2>
                Current Tasks
            </h2>
            <% for(var i=0; i<tasks.length; i++){ %>
                <li><input type="checkbox" name="check" value="<%= tasks[i]._id %>"/><%= tasks[i].item %> </li>
            <% }%>
            
            <button formaction="/removeToDo" type="submit">
                Remove
            </button>
        </form>
        <form action="/deleteToDo" method="POST">
            <h2>
                Completed Tasks 
            </h2>
            <% for(var i=0; i<completed.length; i++){ %>
                <li><input type="checkbox" name="delete" value="<%= completed[i]._id %>"/><%= completed[i].item %> </li>
            <% }%>
            <button formaction="/deleteToDo" type="submit">
                Delete
            </button>
        </form>
        </div>
    </body>
</html>