<html>
    <head>
        <title>
            To-do
        </title>
        <link href="../static/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>
            Select a country and enter a zip code
        </h1>
        <form action="/zip" method="POST">
            <select id="country" name="country">
                <option selected disabled>--Select City--</option>
                <option value="AU">Australia</option>
                <option value="BD">Bangladesh</option>
                <option value="CA">Canada</option>
                <option value="DE">Germany</option>
                <option value="ES">Spain</option>
                <option value="GL">Greenland</option>
                <option value="IN">India</option>
                <option value="JP">Japan</option>
                <option value="LK">Sri Lanka</option>
                <option value="US">United States</option>
            </select>
            <input type="number" name="zipcode" id="zipcode" placeholder="ZipCode" maxlength="8">
            <button formaction="/zip" type="submit">
                Submit
            </button>
        </form>
        <h1>Here is the Information:</h1>
        <% if (zipdata != null) { %>
            <h1><%= zipdata.country %></h1>
        <% } %>
        
    </body>
</html>